<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://claimsorted-payout-d2cmbha9h8d8fpdp.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4bc0a690-bcfc-4fc6-8f64-d9251d4c4c6b/resourceGroups/ClaimSorted/providers/Microsoft.Web/sites/claimsorted-payout</ResourceId>
    <PublishUrl>https://claimsorted-payout-d2cmbha9h8d8fpdp.scm.eastus-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>